---
layout: default
---

<div class="home">

    <div id="main" class="call-out"
         style="background-image: url('{{ site.header_feature_image | relative_url }}'); background-position: left top;  ">
        <h1> {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}} </h1>
    </div>

    {% include blog.html %}

</div>

<!-- box-sizing: border-box; position: relative;  background-image: url('/assets/img/pexels/test.png');  padding-left: 0%;padding-right: 0%; background-position: left top; -->